langchain
langchain-community
langchain-groq
llama-parse
fastembed
chromadb
python-dotenv
chainlit
unstructured[md]
farm-haystack==1.25.5
pdfminer.six
streamlit
crewai
PyMuPDF
torch
torchvision
torchaudio
PyPDF2
transformers
pandas
tenacity